# Habilitar reescritura de URLs
RewriteEngine On

# Establecer el directorio base
RewriteBase /ecommerce/

# Si el archivo existe físicamente, se sirve normalmente
RewriteCond %{REQUEST_FILENAME} !-f

# Todo lo demás pasa por index.php
RewriteRule ^ index.php [L,QSA]
